tr.saving td {
    opacity: 0.5;
}

tr.updated {
    background: rgba(222, 255, 153, 0.31);
}

table {
    border-collapse: collapse;
}

td {
    border: 0;
    margin: 0;
    padding: 2px;
}

td .rpc-status {
    display: inline-block;
    min-width: 16px;
    min-height: 16px;
}

tr.saving td .rpc-status {
    opacity: 1;
    background: url(Resources/ajax-loader.gif) no-repeat;
}